__pycache__/
*.pyc
*.fits
*.fit
*.FIT
*.FITS
2018*
pngs
.vscode
*.conf
*.nc
*.swp
*.gif
*.mp4
*.log
*/logs/*
WebcamMcWebcamface/images/*
GOESMcGOESface/outputs/*
RadarLove/outputs/*
CloudyMcCloudface/subbed/*
CloudyMcCloudface/sky.png

modules.conf
dbqueries.conf
plot*.html
table*.html
